.content {
  padding: 0 124px;
}

.img-bg {
  z-index: -10;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 14px;
}

/* Navbar */
.navbar,
a {
  font-size: 14px;
}

a.nav-link {
  color: black;
}

.nav {
  margin-right: 100px;
}

/* Hero Section */
.text-hero {
  padding: 90px 100px 0 0;
}

.p-hero {
  padding-right: 50px;
}

.btn {
  color: white;
  background-color: #5cb85f;
  padding: 7px 15px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.img-car {
  position: absolute;
  right: 0px;
}

/* Our Services */
#Our-Services {
  margin-top: 130px;
}

.img-service {
  padding-right: 70px;
}

.text-services {
  padding: 45px 95px 0 0;
}

.list-services {
  padding: 0.05cm 0 0 5px;
}

/* Why Us */
.box {
  width: 268px;
  height: 196px;
}

/* Testimony */
.testi {
  background-color: #f1f3ff;
  padding: 60px 20px;
  width: 619px;
  height: 270px;
}

.star {
  width: 16px;
}

.img-review {
  margin-top: 10px;
}

.text-testi {
  margin: 0;
}

.btn-slider button {
  width: 34px;
  height: 34px;
}

.btn-previous {
  background-color: white;
}

/* CTA Banner */
#Cta-Banner {
  width: 100%;
  height: 328px;
  padding: 60px;
  margin: 70px 0 90px;
  background-color: #0d28a6;
}

.p-banner {
  width: 50%;
}

.btn-banner {
  margin-top: 35px;
}

/* FAQ */
.border-grey {
  border: 1px solid #d4d4d4;
}

/* Footer */
.footer-link {
  padding: 0;
}

a,
.footer-link {
  color: black;
  padding: 0 0 15px 0;
  font-size: 14px;
}

/* Mobile */
@media (max-width: 576px) {
  .content {
    padding: 0;
  }
}
